.AnimatedListRow {
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #a2d4da;
  width: 100%;
  height: 26px;
  margin: 2px 0;
  transition: 0 all;
}

.AnimatedList--Overscan {
  background-color: #C0E0D0;
}

.AnimatedList--Invisible {
  background-color: #aaa;
}

.AnimatedList--Overscan,
.AnimatedList--Invisible {
  transition: 500ms all;
}

