.AnimatedList {
  position: relative;
  width: 150px;
  height: 300px;
  overflow: visible;
  margin: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.Positioned {
  overflow: visible;
}

.InnerFrame {
  position: absolute;
  top: 100px;
  height: 100px;
  left: -8px;
  right: -8px;
  border: 4px solid #222;
  border-radius: 8px;
}

.AnimatedListDimmerBottom,
.AnimatedListDimmerTop {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.35;
}

.AnimatedListDimmerBottom {
  top: 200px;
  height: 130px;
}


.AnimatedListDimmerTop {
  top: 0;
  height: 100px;
}
