.Collection {
  border: 1px solid #ddd;
}

.CollectionCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.CollectionCellCircle {
  border-radius: 100%;
}
