.ResizableListRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
  border-bottom: 1px solid #e9e9e9;
}

.DragHandle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 16px;
  z-index: 2;
  cursor: row-resize;
  color: rgba(0, 0, 0, 0.2);
}
.DragHandle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.DragHandleActive,
.DragHandleActive:hover {
  color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.DragHandleIcon {
  flex: 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
