.BottomGroup,
.MiddleGroup,
.TopGroup {
  transition: all 250ms linear;
}

.MiddleGroup {
  position: relative;
  z-index: 2;
}

.BottomGroupScaled {
  transform: scaleY(0.5) translateY(-137px);
}

.MiddleGroupScaled {
  transform: translateY(-35px);
}

.TopGroupScaled {
  transform: scaleY(0.5) translateY(-30px);
}

.OuterScrollContainer {
  position: absolute;
  top: 5px;
  width: 100px;
  height: 100px;
  border: 4px solid #222;
  border-radius: 8px;
}

.UnscaledListItem,
.UnscaledListItemActive {
  display: block;
  width: 88px;
  height: 26px;
  margin: 2px 6px;
}

.UnscaledListItem {
  background-color: #aaa;
}

.UnscaledListItemActive {
  background-color: #C0E0D0;
}
